// definimos los colores a emplear de la marca, estos estan 
// caterorizados con el prefijo color y el valor en el proyecto

$colormarcapri: #F23D3D;
$colormarcasec: #f2f2f2;
$colorbg: #262626;

// modificamos opciones nativas de bootstrap 

$enable-shadows: true;
$enable-gradients: true;
$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Roboto Condensed", "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$btn-font-family: "Roboto Condensed";
$btn-box-shadow: inset 0 6px 0 rgba(white, .15), 0 3px 3px rgba(black, .075);
$btn-padding-x: 1.5rem;
$btn-border-radius: 1.5rem;

@import "lib/bootstrap/scss/bootstrap.scss";
